/* .signuppage { 
    width: 350px;
    height: 350px;
    margin:60px auto 60px auto;
    background-color: #159895;
    border-radius: 18px;
}

.heading {
    padding-top: 35px;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
}

.username {
    margin: auto;
    color: black;
    border: 2px solid #159895;
    padding: 6px;
    border-radius: 10px;
}

.password {
    color: black;
    margin: auto;
    border: 2px solid #159895;
    padding: 6px;
    border-radius: 10px;
}

.btn {
    margin-top: 30px;
    width: 100px;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 6px;
}
.signuppage.active{
    opacity: 0;
} */



.signup { 
    width: 370px;
    height: 485px;
    margin:60px auto 60px auto;
    background-color: #159895;
    border-radius: 18px;
}

.heading {
    padding-top: 35px;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
}

.username {
    margin: auto;
    color: black;
    border: 2px solid #159895;
    padding: 6px;
    border-radius: 10px;
}

.password {
    color: black;
    margin: auto;
    border: 2px solid #159895;
    padding: 6px;
    border-radius: 10px;
}

.btn {
    margin-top: 30px;
    width: 100px;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 6px;
}